body {
    font-family: Arial, sans-serif;
    background-color:rgb(14, 136, 81) ;
    color: #333;
}

header {
    background-color:navajowhite;
    color: rgb(4, 4, 79);
    padding: 20px ;
    text-align: center;
    
}

h1 {
    font: size 200px;;
    font-family: cursive;
}

.movies-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}
/* for the individual movie block */
.movie {  
    background-color:black;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    
}

 .movie img {
    max-width: 500%;
    border-radius: 5px;
    height: 300px;
} 

.movie a {
    display: block;
    margin-top: 10px;
    color:yellow;
}

.footer{
    background-color:navajowhite;
    color: rgb(4, 4, 79);
    padding: 20px ;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
}

